<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.ConcertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Concert">
        <result column="categoryname" property="categoryname" />
        <result column="pricestr" property="pricestr" />
        <result column="verticalpic" property="verticalpic" />
        <result column="cityname" property="cityname" />
        <result column="price" property="price" />
        <result column="showstatus" property="showstatus" />
        <result column="venue" property="venue" />
        <result column="actors" property="actors" />
        <result column="showtime" property="showtime" />
        <result column="pricehigh" property="pricehigh" />
        <result column="subcategoryname" property="subcategoryname" />
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="longutide" property="longutide" />
        <result column="lat" property="lat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        categoryname, pricestr, verticalpic, cityname, price, showstatus, venue, actors, showtime, pricehigh, subcategoryname, id, name, longutide, lat
    </sql>

</mapper>
